body {
    background-color: khaki;
}

header {
    text-align: center;
}

table {
    border-collapse: separate;
    border-spacing: 3px;
    margin: 0 auto;
}

td {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

#vote-table {
    background-color: khaki;
    border-spacing: 2em;
}

#vote-table td {
    background-color: black;
    border: none;
    height: 20em;
    padding: .5em;
    width: 20em;
}

img {
    height: inherit;
    width: inherit;
}

footer {
    text-align: center;
}