.hidden {
    display: none;
}

header {
    text-align: center;
}

table {
    border-collapse: separate;
    border-spacing: 3px;
    margin: 0 auto;
}

td {
    background-color: white;
    border: 1px solid black;
    padding: 1px;
    text-align: center;
}

#vote-table td {
    background-color: black;
    border: none;
    height: 12em;
    padding: .5em;
    width: 12em;
}

#settings-form {
    width: fit-content;
}

#settings-list {
    list-style: none;
}

#settings-list li {
    margin: 0 1em 1em -2em;
}

img {
    height: 15em;
    width: 15em;
}

footer {
    text-align: center;
}

.chart-div {
    background-color: black;
}

#chart-container {
    margin: 0 auto;
    width: 80%;
}
