.hidden {
    display: none;
}

body {
    background-attachment: fixed;
    background-image: url("img/bus.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}

h3 {
    color: white;
    font-family: Hind,Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-align: center;
}

#voting {
    background-color: #084c8d;
    border: 4px solid #f46542;
    border-radius: 10px;
    width: fit-content;
    margin: 10em auto;
    padding: 1em 1em .1em 1em;
}

table {
    border-collapse: separate;
    border-spacing: 3px;
    margin: 0 auto;
}

#vote-table td {
    background-color: black;
}

td {
    border: 1px solid black;
    text-align: center;
}

img {
    height: 15em;
    width: 15em;
    position: relative;
}

#chart-container {
    background: none;
    margin: 0 auto;
    width: 80%;
}

.chart-div {
    border: 5px solid #084c8d;
    margin: 1em 0;
    background-color: white;
}

.charts p {
    background-color: black;
    color: white;
    font-size: 1.5em;
    margin: 0;
    padding: 0 .5em;
}

#individ-canvas.hidden, #votes-canvas.hidden, #percent-canvas.hidden  {
    display: none !important;
}

button {
    background-color: #084c8d;
    color: white;
    font-family: Hind,Helvetica,Arial,sans-serif;
    font-weight: bold;
    padding: 1em;
    margin: 0 .5em;
}

a {
    background-color: #084c8d;
    border: 2px solid white;
    color: white;
    display: block;
    font-family: Hind,Helvetica,Arial,sans-serif;
    font-weight: bold;
    padding: 1em;
    margin: .5em;
    width: fit-content;
}
button:active {
    box-shadow: 0 2px 0;
    transform: translateY(3px);
}

button a {
    color: white;
}

#settings-form {
    background-color: #084c9d;
    border: 4px solid #f46542;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-top: 3em;
    margin-left: 3em;
    padding: .5em;
    width: fit-content;
}

#settings-list {
    list-style: none;
}

#settings-list li {
    margin: 0 1em 1em -2em;
}

legend {
    font-size: 1.5em;
}

input {
    background-color: white;
    color: black;
    font-family: Hind,Helvetica,Arial,sans-serif;
    font-weight: bold;
    margin: 0 .5em;
    padding: 1em;
    text-align: center;
}